<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style type="text/css">
        TABLE {
            width: 300px;
            border-collapse: collapse;
        }

        TD, TH {
            padding: 3px;
            border: 1px solid black;
        }

        TH {
            background: #b0e0e6;
        }
    </style>
</head>
<body>
<div>
    <table>
        <thead>
        <tr>
            <th>id</th>
            <th>first name</th>
            <th>last name</th>
            <th>age</th>
            <th>delete</th>
            <th>update</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.age}"></td>
            <td>
                <form th:action="@{/delete}">
                    <button type="submit" th:name="userId" th:value="${user.getId()}">delete</button>
                </form>
            </td>
            <td>
                <form th:action="@{/update}">
                    <button type="submit" th:name="userId" th:value="${user.getId()}">update</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
